
@{
    ViewBag.Title = "RegistrationComplete";
}

<h2>Registration Complete</h2>
<p>
    User registration complete.<br />
    <br />

    <h3>Now what you need to do?</h3>

    You will receive an <kbd>email with activation link</kbd> once admin activates your user account with appropriate user role.<br />
    Please follow the <code>instructions</code> on the profile activation email to <code> activate</code> your user account and <code> log in to</code> the system.<br />
    <br />

    Thank you.<br />

    <span class="text-primary">LRMN Intranet</span><br />
</p>
<div>
    @*@Html.ActionLink("Login", "Account", new { returnUrl = "/" })*@
</div>



