@model Persistance.ViewModels.ApplicationUserViewModel
@{
    ViewBag.Title = "ManageContacts";
}

<h2>Manage Contacts</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>User search</strong>
        </div>
        <div class="panel-body">
            <div class="row rowBottomPadding">
                <div class="col-md-6">
                    <label class="col-md-4 normalLabelFont">First name</label>
                    <input type="text" class="col-md-4 form-control" id="firstName" />
                </div>
                <div class="col-md-6">
                    <label class="col-md-4 normalLabelFont">Last name</label>
                    <input type="text" class="col-md-4 form-control" id="lastName" />
                </div>
            </div>
            <div class="row rowBottomPadding">
                <div class="col-md-6">
                    <label class="col-md-4 normalLabelFont">Email</label>
                    <input type="text" class="col-md-4 form-control" id="email" />
                </div>
                <div class="col-md-6">
                    <label class="col-md-4 normalLabelFont">Approved</label>
                    <select id="isApproved" class="form-control">
                        <option>--- select ---</option>
                        <option value="true">Approved</option>
                        <option value="false">Un Approved</option>
                    </select>
                </div>
            </div>

            <div class="row rowBottomPadding">
                <div class="col-md-6">
                    <label class="col-md-4 normalLabelFont">Locked</label>
                    <select id="isLocked" class="form-control">
                        <option>--- select ---</option>
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="col-md-4 normalLabelFont">Activated</label>
                    <select id="isActivated" class="form-control">
                        <option>--- select ---</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
            </div>

            <div class="row rowBottomPadding">
                <div class="col-md-6">
                    <label class="col-md-4 normalLabelFont">Contract Type</label>
                    <select id="isLocked" class="form-control">
                        <option>--- select ---</option>
                        <option value="false">.</option>
                        <option value="true">..</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="col-md-4 normalLabelFont">Volunteer Interests</label>
                    <textarea id="volunteerInerests" class="form-control"></textarea>
                </div>
            </div>

            <div class="row rowBottomPadding formButtonPadding">
                    <button type="button" class="btn btn-primary">Search</button>
                    <button type="reset" class="btn">Reset</button>
            </div>

        </div>
    </div>
}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>User Search Results</strong>
    </div>
    <div style="padding:1% 1% 1% 1%">
        <table id="contactsTbl" class="table table-responsive"></table>
    </div>
</div>

@section scripts {

    <script src="~/Scripts/CustomJs/manageContacts.js"></script>
}

